@font-face {
  font-family: NotoSans-Regular;
  //noinspection CssUnknownTarget
  src: url(/fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Bold;
  //noinspection CssUnknownTarget
  src: url(/fonts/NotoSans-Bold.ttf);
}

@font-face {
  font-family: NotoSerif-BoldItalic;
  //noinspection CssUnknownTarget
  src: url(/fonts/NotoSerif-BoldItalic.ttf);
}
