@import "variables";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  hyphens: auto;
}

.cjwlogo {
  position: relative;
  top: 1rem;
  left: 1rem;
  margin-bottom: 3rem;
  width: calc(100% - 2rem); // fix safari bug

  img {
    height: 5rem;
    max-width: 60%;
  }

  @media screen and (min-width: $md-min) {
    top: 2rem;
    left: 2rem;
    margin-bottom: 4rem;
  }
  @media screen and (min-width: $lg-min) {
    margin-bottom: 6rem;
  }
  @media screen and (min-width: $xl-min) {
    margin-bottom: 8rem;
  }
}

.language {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #FFFFFF;
  z-index: 2;
  @media screen and (min-width: $md-min) {
    top: 2rem;
    right: 2rem;
  }

  a {
    color: #FFFFFF;
  }
}

main {
  padding-bottom: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: $xl-max;
  @media screen and (min-width: $md-min) {
    width: 75%;
    margin: 0 auto;
  }
}

.cta {
  text-align: center;
  margin: 4rem auto;
}

footer {
  margin: 4rem 0;
}

.partner {
  list-style-type: none;
  padding-left: 0;
  li {
    line-height: 1.5rem;
    padding-top: 1rem;
    a {
      display: block;
      height: 100%;
    }
    img {
      display: block;
      width: 50%;
      padding-right: 2rem;
      margin-bottom: 0.5rem;
      vertical-align: middle;
      @media screen and (min-width: $sm-min) {
        display: inline-block;
        width: 20%;
      }
    }
  }
}
