@use "sass:math";

:root {
  // colors
  --bg-color: #F5F5F5;
  --text-color: #333333;
  --black: #000000;
  --white: #FFFFFF;
  --brand-primary: #D11234;
  --brand-secondary: #6F6F6E;
  --brand-complement: #EF9204;
  --gray: var(--brand-secondary);
  --gray-light: #CCCCCC;
  --shadow-color: #CCCCCC;
  @media (prefers-color-scheme: dark) {
    --bg-color: #070707;
    --text-color: #DDDDDD;
    --black: #FFFFFF;
    --white: #151515;
    --brand-primary: #D11234;
    --brand-secondary: #6F6F6E;
    --brand-complement: #EF9204;
    --gray: var(--brand-secondary);
    --gray-light: #CCCCCC;
    --shadow-color: #444444;
  }
}

// styling
$border-radius: 5px;
$box-shadow: 10px;

// breakpoints
$xs-min: 0;
$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
$xl-max: 1440px;

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.25;
  font-family: Helvetica, serif;
  color: var(--text-color);
  background-color: var(--bg-color);
  overflow-x: hidden;
  hyphens: auto;
}

.hero {
  height: 100vh;
  width: 100vw;
  background: transparent url("/img/galaxy.jpg") no-repeat center center;
  background-size: cover;

  > .claim {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width: $sm-min) {
      width: 60%;
    }

    > .quote {
      font-family: Georgia, serif;
      font-style: italic;
      color: #FFFFFF;
      font-size: calc(100vh / 10);
      line-height: 1.1;
      @media screen and (orientation: portrait) {
        font-size: calc(100vh / 12);
      }
    }

    > .author {
      font-size: 1rem;
      color: var(--gray-light);
      text-align: right;
      margin: 1rem 0 2rem 0;
    }

    > .arrow {
      position: absolute;
      top: 90vh;
      left: 50%;

      svg {
        width: 36px;
        height: 36px;
        margin: 0 auto;
      }
    }
  }
}

.cjwlogo {
  position: relative;
  top: 1rem;
  left: 1rem;
  margin-bottom: 3rem;

  > img {
    height: 5rem;
    max-width: 60%;
  }
  @media screen and (min-width: $md-min) {
    top: 2rem;
    left: 2rem;
    margin-bottom: 4rem;
  }
  @media screen and (min-width: $lg-min) {
    margin-bottom: 6rem;
  }
  @media screen and (min-width: $xl-min) {
    margin-bottom: 8rem;
  }
}

main {
  padding-bottom: 2rem;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: $xl-max;
  @media screen and (min-width: $md-min) {
    width: 75%;
    margin: 0 auto;
  }
}

.lead {
  @media screen and (min-width: $sm-min) {
    font-size: 1.5rem;
  }
  @media screen and (min-width: $xl-min) {
    font-size: 2rem;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2rem;
  row-gap: 2rem;
  margin: 2rem 0;
  @media screen and (min-width: $md-min) {
    grid-template-columns: 50% 50%;
    margin: 4rem 0;
  }
}

.cell {
  border-radius: 5px;
  background-color: var(--white);
  box-shadow: $box-shadow $box-shadow math.div($box-shadow, 2) 0 var(--shadow-color);
  position: relative;

  &:hover {
    box-shadow: ($box-shadow * 2) ($box-shadow * 2) $box-shadow 0 var(--shadow-color);
  }
}

.card {
  padding: 2rem;
  text-align: center;

  > .logo {
    img {
      height: auto;
      max-height: 5rem;

      @media screen and (min-width: $md-min) {
        max-width: 60%;
      }
      max-width: 80%;
      &.invert {
        @media (prefers-color-scheme: dark) {
          filter: invert(100%) hue-rotate(180deg);
          mix-blend-mode: screen;
        }
      }
    }
  }

  > .location {
    color: var(--gray)
  }

  > .offer {
    margin: 1rem 0;
  }

  > .contact {
    color: var(--gray)
  }
}

// Typography

a {
  color: var(--text-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.font-bold {
  font-weight: bold;
}

.font-italic {
  font-style: italic;
}

.text-brand-primary {
  color: var(--brand-primary)
}

.text-brand-secondary {
  color: var(--brand-secondary)
}

.text-brand-complement {
  color: var(--brand-complement)
}

.sr-only {
  position: absolute;
  top: 0;
  left: -20000px;
}
